@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />
<br />

<div style="display: flex; align-items: flex-start; padding: 20px;">
    <div class="introduction" style="position:relative; left:5%; width:500px;">
        <h2><strong>Education</strong></h2>
        <h5>Bachelor's Degree in Computer Science, Concordia University (2020-2023)</h5>
        <p style="font-size:20px;">I graduated with a Bachelor's degree in Computer Science from Concordia University in 2023. During my studies, I built a strong foundation in application development and gained essential skills in various programming languages and technologies. <br /></p>
    
        <h2><strong>Work Experience</strong></h2>
        <h5>IT Development Intern, Mitsubishi Heavy Industries Regional Jet (MHIRJ)</h5>
        <p style="font-size:20px;">Since May 2023, I have been working as an IT Development Intern at MHIRJ. In this role, I have gained hands-on experience with cloud systems, including Microsoft Azure, IIS hosting, Windows Server, ASP.NET Core/Framework, Azure MySQL, Key Vaults, and Blob Storage. I have been involved in diverse projects, applying agile development practices to ensure timely and effective project execution.</p>

        <h2><strong>Languages Spoken/Written</strong></h2>

        <div style="display: flex; align-items: flex-start;">
            <ul class="list-group" >
                <li class="list-group-item list-group-item-primary">Korean</li>
                <li class="list-group-item list-group-item-secondary">English</li>
                <li class="list-group-item list-group-item-success">French</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">Native</li>
                <li class="list-group-item list-group-item-secondary">Advanced - C1</li>
                <li class="list-group-item list-group-item-success">Advanced Intermediate - B2</li
            </ul>
        </div>
       
    </div>
    <img src="~/images/IMG_0496 - Copy.png" style="position:relative;width:400px;height:500px;margin-left: 200px;" />
</div>


<div style=" max-width: fit-content;margin-left: auto;margin-right: auto;">
    <h2><strong>Programming Languages</strong></h2>
    <h5>These are the languages with hands on experience!</h5>
</div>
       
<div style="display: flex; align-items: flex-start; padding: 20px;">
    <div class="technical-skills" style="position:relative;justify-content:center;margin-left: auto;margin-right: auto;">
        <div class="skill">
            <h3>Java</h3>
        </div>
        <div class="skill">
            <h3>Python</h3>
        </div>
        <div class="skill">
            <h3>C#</h3>
        </div>
        <div class="skill">
            <h3>C++</h3>
        </div>
        <div class="skill">
            <h3>JavaScript</h3>
        </div>
        <div class="skill">
            <h3>HTML/CSS</h3>
        </div>
        <div class="skill">
            <h3>MySQL</h3>
        </div>
        <div class="skill">
            <h3>PowerShell</h3>
        </div>
        <div class="skill">
            <h3>JSON</h3>
        </div>
        <div class="skill">
            <h3>XML</h3>
        </div>
    </div>
</div>

<div style=" max-width: fit-content;margin-left: auto;margin-right: auto;">
    <h2><strong>Frameworks & Developer Tools</strong></h2>
</div>
    
<div style="display: flex; padding: 20px;">
    <div class="technical-skills">
        <div class="skill">
            <h3>ASP.NET Core</h3>
        </div>
        <div class="skill">
            <h3>.NET Framework</h3>
        </div>
        <div class="skill">
            <h3>Jupyter</h3>
        </div>
        <div class="skill">
            <h3>Node.js</h3>
        </div>
        <div class="skill">
            <h3>ZAFClient</h3>
        </div>
        <div class="skill">
            <h3>Git</h3>
        </div>
        <div class="skill">
            <h3>Docker</h3>
        </div>
       
        <div class="skill">
            <h3>Visual Studio</h3>
        </div>
        <div class="skill">
            <h3>IIS</h3>
        </div>
        <div class="skill">
            <h3>Hyper-V</h3>
        </div>
        <div class="skill">
            <h3>Windows Server 2019</h3>
        </div>
    </div>
</div>


<div style=" max-width: fit-content;margin-left: auto;margin-right: auto;">
    <h2><strong>Experience & Project & Knowledges</strong></h2>
</div>
<nav class="navigation">
    <div>
        <a class="nav-link" asp-area="" asp-page="/Experience">Experience</a>
    </div>
    <div>
        <a class="nav-link" asp-area="" asp-page="/projectsPage/Examotron">Examotron</a>
    </div>
    @* <div>
        <a class="nav-link" asp-area="" asp-page="/Index">Project Schedule</a>
    </div> *@
    <div>
        <a class="nav-link" asp-area="" asp-page="/Knowledges">Knowledges</a>
    </div>
</nav> 

